
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhai 2', 'Noto Sans JP';
    display: flex;
    flex-direction: column;
}










h1{
    color: black;
}
.section1{
    padding-bottom: 10vh;
    padding-top: 10vh;
    border-radius: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    background-repeat: no-repeat;
    
    
    background-image: url('https://source.unsplash.com/1600x900/?travel,nature,water');

}
.section2{
    padding-bottom: 10vh;
    padding-top: 10vh;
    background-repeat: no-repeat;
    
    border-radius: 10px;
    display: flex;
    align-content: center;
    align-items: center;
    
    background-image: url('https://source.unsplash.com/1600x900/?traveling,nature,water');

}
.section3{
    padding-bottom: 10vh;
    padding-top: 10vh;
    background-repeat: no-repeat;
   
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    align-content: center;
    align-items: center;

    
   
    background-image: url('https://source.unsplash.com/1600x900/?travel,nature,water');

}
h1{
    text-align: center;
}

main {

   
    width: 100vw;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tourlist {
    align-items: centers;
}

.allpopularplaces {
    display: flex;
    flex-wrap: wrap;
   justify-content:space-between;
    
    
}

.popularplaceimage {
    
    height: 5em;
    border: 2px solid white;
    border-radius: 4px;
}

.placediscreption {
    display: flex;
    align-items: center;
    justify-content: center;


}

.placedetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: red;
}

.placediscreption p {
    margin-left: 1vw;


}
.myfooter{
    position: relative;
    bottom: 0;
    margin: 0px;
}
.footer {
    
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
